.login-right {
  background-color: #1334b3;
}
.login-left {
  width: 100% !important;
}

.myinput:focus {
  outline: none !important;
  box-shadow: none !important;
}

.primarycolor {
  color: #1334b3 !important;
}

.primarybg {
  background-color: #1334b3 !important;
  /* font-family: 'Nunito Sans' !important; */
}

.outl {
  width: calc(100% - 336px);
}

.secondarycolor {
  color: #686687 !important;
}

.nunito {
  font-family: 'Nunito Sans' !important;
}

@media only screen and (max-width: 992px) {
  .outl {
    width: calc(100% - 80px) !important;
  }
}
@media only screen and (min-width: 768px) {
  .login-left {
    width: 400px !important;
  }
}

.ant-table-thead .ant-table-cell {
  background-color: #eaecf0 !important;
}
.rounded-top-3 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
