.login-right {
  background-color: #1334b3;
}
.login-left {
  width: 100% !important;
}

.myinput:focus {
  outline: none !important;
  box-shadow: none !important;
}

.primarycolor {
  color: #1334b3 !important;
}

.primarybg {
  background-color: #1334b3 !important;
  /* font-family: 'Nunito Sans' !important; */
}

.secondarycolor {
  color: #686687 !important;
}
@media only screen and (min-width: 768px) {
  .login-left {
    width: 400px !important;
  }
}
