.login-right {
  background-color: #1334b3;
}
.login-left {
  width: 100% !important;
}

.myinput:focus {
  outline: none !important;
  box-shadow: none !important;
}

.primarycolor {
  color: #1334b3 !important;
}

.primarybg {
  background-color: #1334b3 !important;
  /* font-family: 'Nunito Sans' !important; */
}

.primaryborder {
  border-bottom: 2px solid #1334b3 !important;
}

.outl {
  width: calc(100% - 336px);
}

.secondarycolor {
  color: #686687 !important;
}

.nunito {
  font-family: 'Nunito Sans' !important;
}

@media only screen and (max-width: 992px) {
  .outl {
    width: calc(100% - 80px) !important;
  }
}
@media only screen and (min-width: 768px) {
  .login-left {
    width: 400px !important;
  }
}

.ant-table-thead .ant-table-cell {
  background-color: #eaecf0 !important;
}
.rounded-top-3 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.rounded-bottom-3 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media only screen and (min-width: 992px) {
  .lg-w-25 {
    width: 25% !important;
  }

  .lg-mb-0 {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 576px) {
  .sm-gap-1 {
    gap: 5px !important;
  }

  .sm-w-100 {
    width: 100% !important;
  }

  .sm-f-18 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 400px) {
  .xs-f-10 {
    font-size: 10px !important;
  }
}
